/* 

Your name and the input elements on the left and 
the headline display and code output on the right. */




body {
    display: flex;
    /* flex-direction: column; */
}

#column1 {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

#data-input {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;

}

#column2 {
    display: flex;
    flex-direction: column;    
    padding: 20px;
}

#headline-display {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 20px;
}

#data-output

#data-display


/* 

#data-display

background-color, 
font-family
font-size 
display these values in the mockedup CSS code in 
the #data-display section. 

*/










